/*
 * Globals
 */

/* Links */
a,
a:focus {
  color: #ec685b;
}

a:hover {
  color: #e9938a;
  text-decoration: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #374440;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: transparent;
  border: 1px solid #374440;
}

.btn-custom {
  color: #f6f6f6;
  text-shadow: 0 2px 4px rgba(47,57,73,.5);
  background-color: transparent;
  border: 1px solid #f6f6f6;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 300;
  box-shadow: none;
}

.btn-custom:hover {
  color: #f6f6f6;
  text-shadow: none;
  background-color: #ec685b;
  background-color: rgba(236,104,91,1);
  border: 1px solid #ec685b;
  border-radius: 0px;
  box-shadow: 0 2px 4px rgba(47,57,73,.5);
}

/* Icon Classes */
.icon {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #e7efec;
}
body {
  color: #374440;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

p, li {
	color: #374440;
	font-size: 16px;
	font-weight: 400;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/* Hero */
.hero{
  display: table;
  width: 100%;
  height: 500px;
  min-height: 200px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.5);
      box-shadow: inset 0 0 10px rgba(0,0,0,.5);
  background-image: url(../images/hero/camelback-mtn.png);
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
}

.hero-grad {
  display: table-cell;
  vertical-align: middle;
  text-shadow: 0 2px 4px rgba(47,57,73,.5);
  background: #08656e; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right bottom, rgba(8, 101, 110, 0.8), rgba(204, 227, 228, 0.8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(8, 101, 110, 0.8), rgba(204, 227, 228, 0.8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(8, 101, 110, 0.8), rgba(204, 227, 228, 0.8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, rgba(8, 101, 110, 0.8), rgba(204, 227, 228, 0.8)); /* Standard syntax */
}

.hero-heading{
	font-size: 72px;
	color: #08656e;
	text-align: left;
	text-shadow: 0 2px 4px rgba(47,57,73,.5);
	font-family: 'Limelight', cursive;
}
/*
 * Header
 */
.masthead {
  padding: 30px 60px;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f6f6f6;
}

.masthead-brand > a {
  color: #f6f6f6;
}

.masthead-brand > a:hover {
  color: #ec685b;
  text-decoration: none;
}

.masthead-nav {
	height: 33px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 300;
  color: #f6f6f6; /* IE8 proofing */
  color: rgba(246,246,246,1);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #f6f6f6;
  border-bottom-color: #f6f6f6;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/* Bio Content */
.bio-left {
  display: block;
  max-width: 100%;
  height: auto;
  float: left;
  max-height: 320px;
}

.bio-right {
  display: block;
  max-width: 100%;
  height: auto;
  float: right;
  max-height: 280px;
}

/* Light Background text */
.header-light {
  color: #374440;
  font-size: 36px;
  text-align: left;
  font-weight: 400;
  text-shadow: none;
}

.subheader-light {
  color: #374440;
  font-size: 22px;
  text-align: left;
  font-weight: 400;
  text-shadow: none;
}

/* Dark Background text */
.header-dark {
  color: #f6f6f6;
  font-size: 36px;
  text-align: left;
  font-weight: 400;
  text-shadow: none;
}

.subheader-dark {
  color: #f6f6f6;
  font-size: 22px;
  text-align: left;
  font-weight: 400;
  text-shadow: none;
}

.middle {
  vertical-align: middle;
}

/* Navbar transition */

.affix {
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  box-shadow: 0 4px 8px rgba(47,57,73,.5);
}

.affix a {
  color: #374440 !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  text-shadow: none;
}

.affix > .masthead-brand > a:hover {
  color: #ec685b;
}

.affix > .masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 300;
  color: #374440; /* IE8 proofing */
  color: rgba(55,68,64,1);
  border-bottom: 2px solid transparent;
}
.affix > .masthead-nav > li > a:hover,
.affix > .masthead-nav > li > a:focus {
  background-color: transparent;
  color: #374440;
  border-bottom-color: #374440;
}

.affix .btn-custom {
  color: #374440;
  text-shadow: none;
  background-color: transparent;
  border: 1px solid #374440;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 300;
  box-shadow: none;
}

.affix .btn-custom:hover {
  color: #f6f6f6;
  text-shadow: none;
  background-color: #ec685b;
  background-color: rgba(236,104,91,1);
  border: 1px solid #ec685b;
  border-radius: 0px;
  box-shadow: 0 2px 4px rgba(47,57,73,.5);
}

.affix + .container-fluid {
  padding-top: 15px;
}

/* When at the top of the page */
.affix-top a {
  text-shadow: 0 2px 4px rgba(47,57,73,.5);
}

.affix-top > .masthead-brand > a:hover {
  color: #ec685b;
  text-decoration: none;
}

.affix-top > .masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 300;
  color: #f6f6f6; /* IE8 proofing */
  color: rgba(246,246,246,1);
  border-bottom: 2px solid transparent;
}
.affix-top > .masthead-nav > li > a:hover,
.affix-top > .masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.affix-top > .masthead-nav > .active > a,
.affix-top > .masthead-nav > .active > a:hover,
.affix-top > .masthead-nav > .active > a:focus {
  color: #f6f6f6;
  border-bottom-color: #f6f6f6;
}

/* Accordion */
.custom {
  color: #f6f6f6;
  background-color: #08656e;
  border: none;
  padding: 15px;
}

.custom:hover {
  color: #f6f6f6;
  background-color: #ec685b;
  border: none;
  padding: 15px;
}

.custom:focus {
  color: #f6f6f6;
  background-color: #ec685b;
  border: none;
  padding: 15px;
}

.custom:focus > a {
  color: #f6f6f6;
  text-decoration: none;
}

.panel-heading:hover {
  color: #f6f6f6;
  background-color: #08656e;
  border: none;
}

/* Dark Background Section */
.dark {
  background-color: #08656e;
  background-repeat:no-repeat;
  background-position:center;
  padding: 60px 59px;
  margin: 0px -60px;
  box-shadow: 0px 5px 12px rgba(47,57,73,.5), 0px -5px 12px rgba(47,57,73,.5);
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: 400;
}


/*
 * Footer
 */

.mastfoot {
  color: #374440; /* IE8 proofing */
  color: rgba(55,68,64,1);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
	left: 0;
    top: 0;
  }
  .mastfoot {
    position: relative;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
	
  .row {
	padding: 0px 30px;
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    width: 970px;
  }
  .row {
	padding: 0px 30px;
  }
	
}

@media (min-width: 1200px) {
  .mastfoot,
  .cover-container {
    width: 1170px;
  }
	
  .row {
	padding: 0px 30px;
  }
}
